/* navbar */

#nav {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 50px;
    width: 100%;
    background-color: #FFB74D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

#navLeft {
    float: left;
    padding-left: 20px;
}

#navRight {
    float: right;
    padding-right: 20px;
}

.navText {
    font-size: 20px;
    padding: 10px;
    background-color: #FFB74D;
}

.navDropdown {
    position: relative;
    display: inline-block;
}

.navDropdownContent {
    display: none;
    position: absolute;
    font-size: 16px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    background-color: #FFB74D;
}

.navDropdown:hover .navDropdownContent {
    display: block;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: underline;
    color: #333333 !important;
}