/* This is
a comment??
*/

* {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    color: #333333;
}

html {
    background-color: rgb(255, 255, 255);
}

body {
    margin: 0;
    width: 100%;
    padding: 0 20px 20px 20px;
}

h1 {
    margin-top: 100px;
    padding: 20px 0;
    font-size: 60px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* navbar */
#nav {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 100%;
    background-color: #FFB74D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navLeft {
    float: left;
    padding-left: 20px;
}

#navRight {
    float: right;
    padding-right: 20px;
}

.navText {
    font-size: 20px;
    padding: 20px;
}
